/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2c539e+11,2c539e+20,2c539e+49,2c539e+70,2c539e+72,4475aa+94 */
background: #2c539e; /* Old browsers */
background: -moz-linear-gradient(top,  #2c539e 11%, #2c539e 20%, #2c539e 49%, #2c539e 70%, #2c539e 72%, #4475aa 94%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #2c539e 11%,#2c539e 20%,#2c539e 49%,#2c539e 70%,#2c539e 72%,#4475aa 94%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #2c539e 11%,#2c539e 20%,#2c539e 49%,#2c539e 70%,#2c539e 72%,#4475aa 94%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#2c539e', endColorstr='#4475aa',GradientType=0 ); /* IE6-9 */
