.date-body{
  background-color: #0072bc;padding-bottom: 5px; border-radius:2px; 
}
.date-body .date-title{
  color: white; 
}

.date-body .date-content{
  background-color: white;margin-left: 5px;margin-right: 5px;
}
.date-body .date-content p.dia{
  margin: 0; font-size: 45px; font-weight: bold;
}
.nomargin{
  margin: 0;
}
